body {
  font-family: Arial;
  background: #f1f3f6;
  margin: 0;
}

.checkout-container {
  display: flex;
  gap: 20px;
  padding: 30px;
}

/* LEFT SECTION */
.checkout-left {
  flex: 2;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.address-form input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-method label {
  display: block;
  margin: 10px 0;
}

/* RIGHT SECTION */
.checkout-right {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.place-order {
  width: 100%;
  padding: 12px;
  background: orange;
  border: none;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.place-order:hover {
  background: darkorange;
}