body {
    margin: 0;
    font-family: Arial;
    background: #f3f3f3;
}

/* Layout */
.container {
    display: flex;
    padding: 40px;
    gap: 40px;
}

/* Image */
.image-section img {
    width: 350px;
    border-radius: 10px;
}

/* Details */
.details-section {
    max-width: 400px;
}

/* Rating */
.rating {
    color: orange;
    margin: 10px 0;
}

/* Price */
.price {
    font-size: 24px;
    color: #7f311e;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 16px;
    margin-left: 10px;
}

/* Description */
.description {
    margin: 15px 0;
}

/* Quantity */
.quantity button {
    padding: 5px 10px;
}

/* Buttons */
button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart {
    background: rgb(181, 131, 38);
}

.buy {
    background: #ff9900;
}

.wishlist {
    background: rgb(172, 110, 110);
    color: white;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.price {
    color: green;
    font-size: 20px;
}

button {
    background: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: darkorange;
}
.rating {
    font-size: 20px;
    margin: 10px 0;
}

.quantity {
    margin: 10px 0;
}

.quantity button {
    padding: 5px 10px;
    font-size: 16px;
}